In [1]:
import pandas as pd

In [2]:
path = "RCB text.txt"
file = open(path)
lines = file.readlines()

## Level data

In [3]:
level_info = "Level Info\n"
level_info_index = lines.index(level_info)
level_master = "Level Master Slave\n"
level_master_index = lines.index(level_master)

level_names = []
level_elevation = []

for i in range(level_info_index + 2, level_master_index - 1):
    line = lines[i].rstrip("\n")
    elevation = lines[i + 1].rstrip("\n")
    if line.isdigit() or line == '':
        continue
    else:
        level_names.append(line)
        level_elevation.append(float(elevation))

level_names, level_elevation

(['B1', 'Ground', 'Level 1', 'Level 2', 'Roof'], [0.0, 3.0, 6.0, 9.0, 12.0])

## Wall elements

In [4]:
wall_start = "WALLS 2009\n"
wall_start_index = lines.index(wall_start)
wall_end = "WALL End Block\n"
wall_end_index = lines.index(wall_end)

walls = []
for i in range(wall_start_index + 2, wall_end_index - 1):
    line = lines[i].split(",")
    walls.append({
        'wall_number': line[0].strip('" '),
        'wall_label': line[1],
        'start_x': round(float(line[2]), 2),
        'start_y': round(float(line[3]), 2),
        'end_x': round(float(line[4]), 2),
        'end_y': round(float(line[5]), 2),
        'thickness': round(float(line[6]), 2) * 1000
    })

pd.DataFrame(walls)

   wall_number wall_label  start_x  start_y  end_x  end_y  thickness
0            1         W9     12.2      9.2   12.2  12.30      180.0
1            2        W11     10.4     29.1   12.7  29.10      180.0
2            3        W18     12.2      9.2   12.2  12.30      180.0
3            4         W9     12.2      9.2   12.2  12.30      180.0
4            5        W10     12.2     17.2   21.8  17.20      180.0
..         ...        ...      ...      ...    ...    ...        ...
64          65                25.2     20.4   25.2  23.40      150.0
65          66                25.2     20.4   28.4  20.40      150.0
66          67                28.4     20.4   31.6  20.40      150.0
67          68        W15      8.9     41.6    8.9  53.21      180.0
68          69                16.8     29.1   22.0  29.10      150.0

[69 rows x 7 columns]

## Column elements

In [5]:
column_start = "COLUMNS 2009\n"
column_start_index = lines.index(column_start)
column_end = "COLUMNS MESHGROUPS\n"
column_end_index = lines.index(column_end)

columns = []
for i in range(column_start_index + 2, column_end_index - 1):
    line = lines[i].split(",")
    columns.append({
        'column_number': line[0].strip('" '),
        'column_label': line[1],
        'x': round(float(line[2]), 2),
        'y': round(float(line[3]), 2),
        'angle': round(float(line[4]), 2),
        'b': round(float(line[5]), 2),
        'd': round(float(line[6]), 2)
    })

pd.DataFrame(columns)

   column_number column_label     x     y  angle    b     d
0              1           C1  13.0  46.6    0.0  0.9  0.25
1              2           C1  21.5  46.6    0.0  0.9  0.25
2              3           C1  13.0  40.6    0.0  0.9  0.25
3              4           C1  21.5  40.6    0.0  0.9  0.25
4              5           C1  25.8  49.2    0.0  0.9  0.25
..           ...          ...   ...   ...    ...  ...   ...
58            59           C5  12.2  22.7    0.0  0.6  0.25
59            60           C8   9.3  23.4    1.0  0.5  0.00
60            61           C4  13.0  19.1    0.0  1.5  0.18
61            62           C4  25.2  16.6    0.0  1.5  0.18
62            63           C5  18.3  21.0    0.0  0.6  0.25

[63 rows x 7 columns]

## Geometry lines (slab outline)

In [8]:
slab_start = "Geometry Line Groups\n"
slab_start_index = lines.index(slab_start)
slab_end = "SLAB Mesh Group\n"
slab_end_index = lines.index(slab_end)

geometry_lines = []

for i in range(slab_start_index + 2, slab_end_index - 1):
    line = lines[i].split(",")
    coords = line[4:-5]
    geometry_lines.append({
        'gl_number': line[0].strip('" '),
        'gl_x': coords[::2],
        'gl_y': coords[1::2]
    })

pd.DataFrame(geometry_lines)

In [7]:
for data_dict in geometry_lines:
    x_length = len(data_dict['gl_x'])
    y_length = len(data_dict['gl_y'])
    print("Length of 'gl_x':", x_length)
    print("Length of 'gl_y':", y_length)

Length of 'gl_x': 12
Length of 'gl_y': 12
Length of 'gl_x': 3
Length of 'gl_y': 3
Length of 'gl_x': 3
Length of 'gl_y': 3
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 6
Length of 'gl_y': 6
Length of 'gl_x': 46
Length of 'gl_y': 46
Length of 'gl_x': 42
Length of 'gl_y': 42
Length of 'gl_x': 24
Length of 'gl_y': 24
Length of 'gl_x': 3
Length of 'gl_y': 3
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 3
Length of 'gl_y': 3
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 4
Length of 'gl_y': 4
Length of 'gl_x': 2
Length of 'gl_y': 2
Length of 'gl_x': 4
Length of 'gl_y': 4